@charset 'utf-8';

/* base
------------------------------------------------------- */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  color: #333;
}
img,
svg {
  width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
button {
  cursor: pointer;
}
.section-wrapper {
  padding: 60px 0;
}
.content-wrapper {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}
.section-title {
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.section-text {
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 30px;
}

/* header
------------------------------------------------------- */
.site-title {
  /* width: 260px; */
  position: fixed;
  top: 30px;
  left: 4vw;
  z-index: 1;
}
.header-nav {
  font-weight: bold;
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36.1vw;
  text-align: center;
  padding: 120px 0 0;
  background-color: rgba(34, 34, 34, 0.95);
  z-index: 2;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
.nav-item {
  margin-bottom: 30px;
}
.nav-item:first-of-type {
  margin-bottom: 40px;
}
.nav-item:last-of-type {
  margin-bottom: 0;
}
.header-nav a {
  color: #fff;
}

/* ハンバーガーボタン（メニューが開いていないとき） */
.burger-btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 38px;
  right: 4vw;
  z-index: 3;
}
.bar {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1px;
  transition: transform 0.3s;
}
.bar_top {
  transform: translateY(-4px);
}
.bar_bottom {
  transform: translateY(4px);
}

.menu {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
}

/* ハンバーガーボタン（メニューが開いたとき） */
.bar.cross.bar_top {
  transform: translateY(2px) rotate(30deg);
}
.bar.cross.bar_mid {
  opacity: 0;
}
.bar.cross.bar_bottom {
  transform: translateY(-2px) rotate(-30deg);
}

/* ハンバーガーメニューが開いたとき */
body.noscroll {
  overflow: hidden;
}
.header-nav.open {
  transform: translateX(0);
  opacity: 1;
}
.burger-musk {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* スクロールで黒くする */
.site-title.black svg path {
  fill: #333;
  transition: fill 0.3s;
}
.burger-btn.black .bar {
  background-color: #333;
  transition: background-color 0.3s;
}
.burger-btn.black .menu {
  color: #333;
  transition: color 0.3s;
}

/* fv
------------------------------------------------------- */
.fv {
  height: 60vh;
  min-height: 450px;
}
.fv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 60vh;
  min-height: 450px;
  z-index: -1;
  background-color: #222;
}
.kv-wrapper {
  background-image: url(../img/heading-img_contact.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 76%;
  height: 86%;
}
.copy-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.main-copy {
  font-size: 7.2rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-left: 5px;
}
.copy_jp {
  font-size: 2rem;
  color: #fff;
}

/* contact
------------------------------------------------------- */
.contact-wrapper {
  padding: 120px 0;
}
.contact-inner {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 30px;
}

.contact-lead {
  margin-bottom: 50px;
}

.form-item {
  margin-bottom: 40px;
}
.form-item-title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}
.required {
  width: 34px;
  line-height: 18px;
  background-color: #333;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}

.inquiry-type-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.inquiry-type-item {
  cursor: pointer;
}
.radio-btn{
  width: 20px;
  height: 20px;
  border: solid 1px #333;
  border-radius: 50%; 
  vertical-align: -4px;
}
.radio-btn:checked{
  background-color: #333;
  border: 4px solid #fff;
  box-shadow: 0 0 0 1px #333;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  border: 1px solid #333;
  color: #333;
  padding: 10px;
  line-height: 1.8;
  width: 100%;
}

.privacy-policy-title {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.privacy-policy-wrapper {
  padding: 10px;
  border: 1px solid #333;
  max-height: 250px;
  margin-bottom: 40px;
  overflow-y: scroll;
}
.privacy-policy-detail {
  font-size: 1.6rem;
  line-height: 1.725;
  margin-bottom: 1rem;
}

.confirm {
  text-align: center;
  margin-bottom: 40px;
}
.confirm label {
  cursor: pointer;
}
.checkbox{
  cursor: pointer;
  border: 1px solid #333;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  vertical-align: -3px;
}
.checkbox:checked{
  background-image: url(../img/icon_chek.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-wrapper {
  text-align: center;
}
.submit-btn {
  width: 160px;
  line-height: 36px;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}
.submit-btn:hover {
  opacity: .8;
  transition: .3s;
}

/* footer
------------------------------------------------------- */
.footer {
  text-align: center;
  color: #fff;
  background-color: #525252;
  line-height: 50px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  /* base_sp
  ------------------------------------------------------- */
  body {
    font-size: 1.4rem;
  }
  .section-wrapper {
    padding: 40px 0;
  }
  .content-wrapper {
    padding: 0 4vw;
  }
  /* header_sp
  ------------------------------------------------------- */
  .site-title {
    width: 180px;
    top: 21px;
  }
  .burger-btn {
    top: 28px;
  }
  .header-nav {
    width: 67.7vw;
  }
  /* fv
  ------------------------------------------------------- */
  .copy-wrapper {
    transform: translate(30%, -50%);
  }
  .main-copy {
    font-size: 5.2rem;
  }
  .copy_jp {
    font-size: 1.6rem;
  }
  /* contact
  ------------------------------------------------------- */
  .contact-wrapper {
    padding: 80px 0;
  }
  .contact-inner {
    padding: 0 4vw;
  }
  .inquiry-type-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-left: 10px;
  }
}